* {
  margin: 0;
  padding: 0; }

.home__background {
  background-image: url(../img/fotoportada.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.home__section {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.home__text {
  font-family: "Poppins", sans-serif;
  font-size: 250%;
  font-style: bold;
  background-color: #e8e8e8;
  opacity: 0.5; }

.home__text:hover {
  color: grey;
  transition-duration: 0.3s;
  transition-delay: 0.1s; }

.home__boton__estilo {
  color: #e8e8e8;
  font-size: x-large;
  background-color: #201f1f; }

.contenedor__nav, .contenedor__footer {
  background-color: grey;
  opacity: 0.6; }

.logo__size {
  width: 15%;
  height: auto; }

.nav__li__estilo {
  font-family: "poppinsextralight", sans-serif;
  font-size: 17px;
  font-style: bold;
  color: darkgray; }

.contenedor__nav, .contenedor__footer {
  background-color: grey;
  opacity: 0.6; }

.logo__size {
  width: 15%;
  height: auto; }

.nav__li__estilo {
  font-family: "poppinsextralight", sans-serif;
  font-size: 17px;
  font-style: bold;
  color: darkgray; }

.home__section {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.home__text {
  font-family: "Poppins", sans-serif;
  font-size: 250%;
  font-style: bold;
  background-color: #e8e8e8;
  opacity: 0.5; }

.home__text:hover {
  color: grey;
  transition-duration: 0.3s;
  transition-delay: 0.1s; }

.home__boton__estilo {
  color: #e8e8e8;
  font-size: x-large;
  background-color: #201f1f; }

.sobremi__background {
  background-image: url(../img/fotosobremi.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.sobremi__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 20%;
  padding-top: 10%;
  padding-bottom: 10%; }

.sobremi__retrato {
  width: 20%;
  height: auto;
  border-radius: 50%;
  float: left;
  padding-right: 20px;
  transition: all 0.4s; }

.sobremi__container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 5%;
  margin-bottom: 15%;
  padding-top: 5%;
  padding-bottom: 5%; }

.sobremi__text {
  font-family: "poppinsextralight", sans-serif;
  font-size: x-large;
  background-color: #e8e8e8;
  opacity: 0.7;
  padding: 20px;
  text-indent: 10%; }

.sobremi__text2 {
  font-family: "poppinsextralight", sans-serif;
  width: auto;
  height: auto;
  vertical-align: middle;
  font-size: x-large;
  text-align: center;
  background-color: #e8e8e8;
  opacity: 0.7;
  text-indent: 10%;
  padding: 20px;
  margin-bottom: 10%; }

.sobremi__retrato:hover {
  transform: scale(1.1);
  transition: all 0.2s;
  animation-timing-function: linear; }

.servicios__background {
  background-image: url(../img/fotoservicios.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.servicios__title {
  font-family: "Poppins", sans-serif;
  font-size: 250%;
  font-style: bold;
  background-color: #e8e8e8;
  opacity: 0.5;
  margin-top: 100px; }

.servicios__container {
  background-color: #e8e8e8;
  margin-top: 10%;
  margin-bottom: 10%;
  opacity: 0.9; }

.servicios__textcontainer {
  display: flex;
  justify-content: center;
  align-items: center; }

.servicios__text {
  font-family: "Poppins", sans-serif;
  font-size: 250%;
  font-style: bold; }

.img__servicios {
  width: 30%;
  height: auto; }

.portfolio__background {
  background-image: url(../img/fotoportfolio.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.portfolio__container {
  width: 60%;
  height: auto; }

.img__carrousel {
  width: 20%;
  height: auto; }

.contacto__background {
  background-image: url(../img/fotocontacto.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.form__padding {
  padding-left: 15%; }

@media (max-width: 576px) {
  .logo__size {
    width: 70%;
    height: auto;
    padding-left: 35%; }
  .foot__logo {
    width: 5%;
    height: auto; }
  .home__text {
    font-size: 200%;
    text-align: center; }
  .sobremi__text {
    font-size: medium; }
  .sobremi__container {
    flex-direction: column; }
  .sobremi__retrato {
    width: 300px;
    height: auto;
    float: top; }
  .h3 {
    text-align: center; }
  .d-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .img__servicios {
    width: 100%; }
  .portfolio__container {
    width: 100%;
    height: auto; }
  .img__carrousel {
    width: 100%;
    height: auto; }
  .form__padding {
    padding-left: 0%; } }

.contenedor__nav, .contenedor__footer {
  background-color: grey;
  opacity: 0.6; }

.foot__logo {
  width: 10%;
  height: auto; }

.sobremi__background {
  background-image: url(../img/fotosobremi.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.sobremi__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 20%;
  padding-top: 10%;
  padding-bottom: 10%; }

.sobremi__retrato {
  width: 20%;
  height: auto;
  border-radius: 50%;
  float: left;
  padding-right: 20px;
  transition: all 0.4s; }

.sobremi__container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 5%;
  margin-bottom: 15%;
  padding-top: 5%;
  padding-bottom: 5%; }

.sobremi__text {
  font-family: "poppinsextralight", sans-serif;
  font-size: x-large;
  background-color: #e8e8e8;
  opacity: 0.7;
  padding: 20px;
  text-indent: 10%; }

.sobremi__text2 {
  font-family: "poppinsextralight", sans-serif;
  width: auto;
  height: auto;
  vertical-align: middle;
  font-size: x-large;
  text-align: center;
  background-color: #e8e8e8;
  opacity: 0.7;
  text-indent: 10%;
  padding: 20px;
  margin-bottom: 10%; }

.sobremi__retrato:hover {
  transform: scale(1.1);
  transition: all 0.2s;
  animation-timing-function: linear; }

.servicios__background {
  background-image: url(../img/fotoservicios.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.servicios__title {
  font-family: "Poppins", sans-serif;
  font-size: 250%;
  font-style: bold;
  background-color: #e8e8e8;
  opacity: 0.5;
  margin-top: 100px; }

.servicios__container {
  background-color: #e8e8e8;
  margin-top: 10%;
  margin-bottom: 10%;
  opacity: 0.9; }

.servicios__textcontainer {
  display: flex;
  justify-content: center;
  align-items: center; }

.servicios__text {
  font-family: "Poppins", sans-serif;
  font-size: 250%;
  font-style: bold; }

.img__servicios {
  width: 30%;
  height: auto; }

.portfolio__background {
  background-image: url(../img/fotoportfolio.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.portfolio__container {
  width: 60%;
  height: auto; }

.img__carrousel {
  width: 20%;
  height: auto; }

.contacto__background {
  background-image: url(../img/fotocontacto.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.form__padding {
  padding-left: 15%; }
