@import '../base/variables';
@import '../base/mixin';


.home__section{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__text{
    font-family: $fuenteGeneralGruesa;
    font-size: 250%;
    font-style: bold;
    background-color: $colorPrimario;
    opacity: 0.5;
}
.home__text:hover{
    color: $colorSecundario;
    transition-duration: 0.3s;   
    transition-delay: 0.1s;
}

.home__boton__estilo{
    color: $colorPrimario;
    font-size: x-large;
    background-color: rgb(32, 31, 31);
}