@import '../base/mixin';
@import '../base/variables';
@import '../base/extends';


.logo__size{
    @include dimensiones (15%, auto)
}

.contenedor__nav{
   @extend %background__nav
}

.nav__li__estilo{
    font-family: $fuenteGeneral;
    font-size: 17px;
    font-style: bold;
    color: rgb(169, 169, 169);
}
